settings:
  info_server: 10.120.18.11
  port: 4001
  check_interval: 20
  ttl: 60
apps:
  web: /var/www/apps/ascent-web/current
assays: /var/scripts/assays
packages:
  - tokumx-clients
  - tokumx-common
