<% res.each do |app, servers| %>
<!-- header -->
<div class="row text-center">
  <h3><%= app %></h3>
</div>

<!-- rows -->
<div class="row">
  <% servers.each do |server| %>
  <div class="col-xs-6 col-sm-4 col-md-3" <% if server.has_key?('timestamp') %> rel="tooltip" title="<%= server['timestamp'] %>" <% end %>>
  <%= server %> <%= server['version'] %>
  </div>
  <% end %>
</div>

<div class='row'>
  <div class='span12'>
    <hr>
  </div>
</div>
<% end %>