<% res.sort.each do |app, servers| %>
<!-- header -->
<div class="row">
  <h3><%= app %></h3>
</div>

<!-- rows -->
<div class="row">
  <% servers.sort.each do |server, info| %>
  <div class="col-xs-6 col-sm-4 col-md-3" <% if info.has_key?('timestamp') %> rel="tooltip" title="<%= info['timestamp'] %>" <% end %>>
  <%= server %> <font color="red"><%= info['version'] %></font>
  </div>
  <% end %>
</div>

<div class='row'>
  <div class='span12'>
    <hr>
  </div>
</div>
<% end %>