<!-- header -->
<div class="row text-center">
  <h3><%= page.capitalize %></h3>
</div>
<div class=row>
  <div class="col-lg-12">
    <%= page %>
  </div>
</div>

<!-- separator -->
<div class='row'>
<div class='span12'>
  <hr>
</div>
</div>

<%- res.children do |c|-%>
<div class="row">
  <div class="col-lg-12">
    <%= c %>
  </div>
</div>

<div class='row'>
  <div class='span12'>
    <hr>
  </div>
</div>
<%- end %>
